*{
  margin : 0;
  padding: 0;
  box-sizing : border-box;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
html, body {
  height: 100%;
}
body{
  background-image : url(https://wallpapercave.com/wp/wp4410743.png);
  display : flex;
  align-items: center;
  justify-content: center;

}

.container{
  width: 90vw;
  height: 90vh;
  background-color: rgba(13, 98, 104, 0.584);
  backdrop-filter: blur(19px) sature(180%);
  border-radius: 12px;
  border : 1px solid rgba(255, 255, 255, 0.386);
  display : flex;
  
}